<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>
    <style>
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
        button {
              padding: 10px 20px;
        }
        button {
            display: block;
            padding: 10px 20px;
            margin-bottom: 2.2em;
        }
button:last-child {
            margin-bottom: 0;
        }
    </style>

</head>
<body>
    <h1>Menú Principal</h1>
    <p>Selecciona un ejercicio:</p>
    <button onclick="window.location.href='/ejercicio1'">Ejercicio 1</button><br>
    <button onclick="window.location.href='/ejercicio2'">Ejercicio 2</button>
</body>
</html>
 </body>
</html>